<% include partials/header %>

	<div class="col-xs-12">
		<div class="thumbnail">
			Name: <label><%= data["results"][0]["name"] %></label><br>
			Gender: <label><%= data["results"][0]["gender"] %></label><br>
      Birth Year: <label><%= data["results"][0]["birth_year"] %></label><br>
      Height: <label><%= data["results"][0]["height"] %> cm</label><br>
			Mass: <label><%= data["results"][0]["mass"] %></label><br>
		</div>
	</div>

<% include partials/footer %>