<% include partials/header %>

<p class="result-label">You have searched for: "<%= query %>"</p>
<p class="result-label">We have found <%= data["count"] %> <%= data["count"] <= 1 ? 'character' : 'characters' %>: </p>
<ul class="result-profiles">
	<% data["results"].forEach(function(char){ %>
		<li>
      <a href=<%= `/profile/${char["name"]}` %>>
        <%= char["name"] %>
      </a>
    </li>
	<% }); %>
</ul>

<% include partials/footer %>